html{
	height: 600px;
	width: 400px;
	padding: 8px 8px 8px 8px;
	overflow-y: scroll;
}

body {
	height: 100%;
}

h3 {
	text-align: center;
}

p {
	font-size: 12px;
}

.post {
	border: 1px solid black;
	border-radius: 5px;
}

.stats p {
	display: inline-block;
	margin-right: 15px;
}

.prompt-title {
	margin-top: 10px;
}

#runScript {

}